/* CSS Code for Filters */
.phdhub-filters p:first-child {
    margin: 0 0 30px;
}
.phdhub-filters label {
    display: block;
    font-size: 13px;
    font-weight: 500;
}
.phdhub-filters input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0;
    outline: none;
    padding: 10px;
    width: 100%;
}
.phdhub-filters select {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 8px 0 0;
    outline: none;
    padding: 10px;
    width: 100%;
}
.scrollbar-box {
    border: 1px solid #eee;
    border-radius: 2px;
    height: 220px;
    margin-top: 8px;
    overflow-y: scroll;
}
.scrollbar-box .checkbox-row {
    background: #f5f5f5;
    display: block;
    font-size: 13.5px;
    padding: 9px 10px;
}
.scrollbar-box .checkbox-row .checkbox-row {
    background: #f9f9f9;
    margin: 12px -10px -16px;
    padding: 4px 0 10px;
}
.scrollbar-box .checkbox-row .child {
    margin: 8px 10px 0 30px;
}
.scrollbar-box .checkbox-row input {
    margin: 0 10px 0 0;
}
.scrollbar-box .checkbox-row .checkbox-row input {
    margin: 10px 10px -3px 30px;
}
.phdhub-filters input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ddd;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    height: auto;
    line-height: normal;
    padding: 12px 22px;
    transition: all .4s ease;
}
.phdhub-filters input[type="submit"]:hover {
    background: #3e4859;
    cursor: pointer;
    transition: all .4s ease;
}



/* Advanced Form */
#search-offers {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 10px #e6e6e6;
    padding: 20px;
    margin: 0 0 30px;
}
#search-offers .widget,
.phdhub-advanced-filters .uk-grid {
	margin: 0;
}
.phdhub-advanced-filters .uk-grid > * {
	padding: 0 20px;
}
.search-offers-btn {
    position: absolute;
    margin: 12px 0 0 3px;
}
.search-offers-btn:before {
    color: #555;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: -2px;
    transition: all .4s ease;
}
.search-offers-btn:hover:before {
    color: #3a6c9a;
    transition: all .4s ease;
}
.search-offers-btn:after {
	color: #a09f9f;
	content: 'or';
	font-size: 13px;
	font-style: italic;
	position: absolute;
	top: 1px;
	right: -23px;
}
.phdhub-advanced-filters p {
    margin: 0;
}
.phdhub-advanced-filters input[type="text"] {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 50px;
    color: #555 !important;
    font-size: 15px;
    line-height: inherit;
    outline: none;
    padding: 10px 40px 10px 20px;
    position: relative;
    width: 100%;
}
.phdhub-advanced-filters input[type="text"]::placeholder {
    color: rgba(35, 35, 35, 0.6);
}
.phdhub-advanced-filters input[type="submit"] {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #555;
    font-size: 15px;
    height: auto;
    line-height: inherit;
    margin: 0 0 0 -35px;
    outline: none;
    padding: 0;
    transition: all .4s ease;
    width: 20px;
    z-index: 100;
    position: relative;
}
.phdhub-advanced-filters input[type="submit"]:hover {
    cursor: pointer;
    transition: all .4s ease;
}
.phdhub-advanced-filters .advanced-link {
	background: #3b6c9a;
	border-radius: 50px;
    margin: 2px 0 0 0;
    text-align: center;
    transition: all .4s ease;
}
.phdhub-advanced-filters .advanced-link a {
	color: #fff;
    display: block;
    font-size: 13px;
    padding: 11px;
    text-decoration: none;
    transition: all .4s ease;
}
.phdhub-advanced-filters .advanced-link:hover {
    background: #1f1f1f;
    transition: all .4s ease;
}
#advanced-search-form .uk-modal-dialog {
    padding: 50px 0;
}
#advanced-search-form .uk-modal-dialog h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
#advanced-search-form .uk-modal-dialog h3 .uk-close {
    float: right;
    margin: 6px 0 0;
}
#advanced-search-form .uk-modal-dialog p {
    margin: 0 0 25px;
}
#advanced-search-form .uk-modal-dialog input[type="text"] {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    color: #555 !important;
    width: 100%;
}
#advanced-search-form .uk-modal-dialog input[type="text"]::placeholder {
    color: #888;
}
#advanced-search-form .uk-modal-dialog label {
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
}
#advanced-search-form .uk-modal-dialog p label {
    display: block;
}
#advanced-search-form .uk-modal-dialog .uk-width-1-4 {
    margin: 10px 0 20px;
}
#advanced-search-form .uk-modal-dialog .uk-width-1-4 select,
#advanced-search-form .uk-modal-dialog .uk-width-1-4 input[type="date"] {
    background: #fbfbfb;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 15px;
    line-height: normal;
    height: 45px;
    outline: none;
    padding: 8px;
    width: 100%;
}
#advanced-search-form .uk-modal-dialog .uk-width-1-4 input[type="text"] {
    padding: 0;
    border: 0;
    color: #888 !important;
    font-size: 14px;
}
#advanced-search-form .uk-modal-dialog .uk-width-1-4 #slider-range-duration,
#advanced-search-form .uk-modal-dialog .uk-width-1-4 #slider-range-tuitions {
    margin: -20px 0 0;
}
#advanced-search-form .uk-modal-dialog input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 3px 10px #e6e6e6;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 14px 20px;
    float: right;
	transition: all .4s ease;
}
#advanced-search-form .uk-modal-dialog input[type="submit"]:hover {
	background: #484848;
	cursor: pointer;
	transition: all .4s ease;
}
#advanced-search-form .fos-container .uk-grid {
    margin: -20px 0 40px !important;
    width: 100%;
}
#advanced-search-form .fos-container .uk-grid > * {
    padding: 0 15px;
}
#advanced-search-form .fos-container .uk-grid > * p {
    margin: 40px 0 0;
}
#advanced-search-form .fos-container input[type="text"],
#advanced-search-form .fos-container input[type="date"],
#advanced-search-form .fos-container select {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    padding: 8px 18px;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
}
#advanced-search-form .fos-container select:hover {
	cursor: pointer;
}
#advanced-search-form .fos-container .advanced-search-select {
	position: relative;
}
#advanced-search-form .fos-container .advanced-search-select:after {
	color: #888;
	content: '\f0dc';
	font-family: 'Font Awesome 5 Free';
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 32px;
	right: 20px;
	z-index: -1;
}
#advanced-search-form .fos-container #duration,
#advanced-search-form .fos-container #tuition-fees {
    border: 0;
    border-radius: 0;
    color: #427cad !important;
    font-size: 14px;
    padding: 0 0 5px;
}
#advanced-search-form .fos-container .uk-panel {
    border-radius: 5px;
}
#advanced-search-form .fos-container .uk-panel p {
    font-size: 13px;
    margin: 0 0 10px;
}
#advanced-search-form .fos-container .uk-panel p span {
    display: block;
    margin: 7px 0 0 22px;
}
#advanced-search-form .fos-container .uk-panel p input {
    float: left;
    margin: 2px 8px 10px 0;
}

/* === Advanced Form Homepage === */
.phdhub-advanced-filters-home {
	margin: 60px 0 -50px;
}
.phdhub-advanced-filters-home form p {
	text-align: left;
	position: relative;
}
.phdhub-advanced-filters-home form input[type="text"] {
	background: rgb(157, 162, 183, 0.7);
	border: 0;
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.9);
	height: auto;
	outline: none;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 45px 10px 20px;
	width: 80%;
}
.phdhub-advanced-filters-home form input[type="text"]::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-style: italic;
}
.phdhub-advanced-filters-home form input[type="submit"] {
	background: transparent;
	border: 0;
	border-radius: 0 50px 50px 0;
	color: transparent;
	font-size: 14px;
	height: auto;
	margin: 0 0 0 -5px;
	outline: none;
	padding: 15px;
	width: 20px;
	position: absolute;
	right: 126px;
	text-indent: 0;
	z-index: 1000;
}
.phdhub-advanced-filters-home form input[type="submit"]:hover {
	cursor: pointer;
}
.phdhub-advanced-filters-home form p:first-child:after {
	content: '\f061';
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	z-index: 100;
	margin: 8px 0 0 -30px;
	position: absolute;
	color: #fff;
}
.phdhub-advanced-filters-home .advanced-link {
	margin: 0 !important;
	max-width: 77%;
	text-align: right;
}
.phdhub-advanced-filters-home .advanced-link a {
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 13px;
	font-weight: 300;
    font-style: italic;
    margin: 0 !important;
	text-decoration: none;
	transition: all .4s ease;
}
.phdhub-advanced-filters-home .advanced-link a:hover {
	color: #fff !important;
	transition: all .4s ease;
}

#advanced-search-form-home .uk-modal-dialog {
    border-radius: 2px;
	margin-top: 100px;
    padding: 30px 30px 20px;
}
#advanced-search-form-home .uk-modal-dialog h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
#advanced-search-form-home .uk-modal-dialog h3 .uk-close {
    float: right;
    margin: 6px 0 0;
}
#advanced-search-form-home .uk-modal-dialog p {
    margin: 0 0 25px;
}
#advanced-search-form-home .uk-modal-dialog input[type="text"] {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    color: #555 !important;
    width: 100%;
}
#advanced-search-form-home .uk-modal-dialog input[type="text"]::placeholder {
    color: #888;
}
#advanced-search-form-home .uk-modal-dialog label {
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
}
#advanced-search-form-home .uk-modal-dialog p label {
    display: block;
}
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 {
    margin: 10px 0 20px;
}
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 select,
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 input[type="date"] {
    background: #fbfbfb;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 15px;
    line-height: normal;
    height: 45px;
    outline: none;
    padding: 8px;
    width: 100%;
}
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 input[type="text"] {
    padding: 0;
    border: 0;
    color: #888 !important;
    font-size: 14px;
}
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 #slider-range-duration,
#advanced-search-form-home .uk-modal-dialog .uk-width-1-4 #slider-range-tuitions {
    margin: -20px 0 0;
}
#advanced-search-form-home .uk-modal-dialog input[type="submit"] {
    background: #318fe8;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    font-size: 14px;
    margin: 0;
}
#advanced-search-form-home .uk-modal-dialog input[type="submit"]:hover {
	background: #484848;
	cursor: pointer;
	transition: all .4s ease;
}
#advanced-search-form-home p {
	text-align: left;
}
#advanced-search-form-home input[type="text"] {
	box-shadow: none;
	width: 100%;
}
#advanced-search-form-home input[type="text"]::placeholder {
	color: #888;
}


.select2-selection {
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
}
.select2-selection ul {
    display: inline-block !important;
}
.select2-container {
    width: 100% !important;
    display: block !important;
}
.select2-selection__choice {
    background: #318fe9 !important;
    border: 0 !important;
    color: #fff;
    padding: 7px !important;
    font-size: 14px;
}
.select2-selection__choice button {
    background: rgba(255, 255, 255, 0.9) !important;
    border: 0 !important;
    border-radius: 50px !important;
    box-shadow: none !important;
    color: #318fe9 !important;
    padding: 2px 6px 4px !important;
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
    margin: 0 5px 0 0;
}